
/*
COLOUR PALETE
#0cca4a - Bright Green
#058c42 - Darker Green
#104f55 - Blue
#122c34 - Dark Blue/Navy
#177e89 - Bright Blue
*/

/* Global Styles
---------------------------------*/
html {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

body{
    color: #122c34;
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    line-height: 1.5;
}

img{
    width: 300px;
}

a {
    color: #177e89;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
h1 {
    font-size: 90px;
    line-height: 1;
}
h2 {
    font-size: 40px;
}
h1, h2 {  
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.item-details p:last-of-type{
    margin-top: 15px;
    width: 80%;
}
.content-wrap {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
.divider > section{
    border-bottom: 1px dashed #122c34;
    padding: 25px 0;
}
.divider > section:last-of-type{
    border-bottom-style: none;
}
/* About/Profile
---------------------------------*/
header{
    background-color: #1c2f31 ;
    background-image: url(../images/background.jpg);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
header img {
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
}
/* Projects
---------------------------------*/
.projects{
    background-color: white;
}

.projects .btn{
    color: white;
    background-color: #177e89;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px; 
    display: inline-block;
}


.projects .btn:hover{
    background-color: rgba(23,126,137, 0.8);
}

.project-item {
    overflow: hidden;

}

.project-item h3 {
    margin-top: 0;
}


/* Experience
---------------------------------*/
.work-experience {
    background-color: #177e89;
    color: white;
}
.job-summary .margin-top{
    margin-top: 10px;
}

/* Education
---------------------------------*/

/* Contact
---------------------------------*/
footer {
    background-color: #122c34;
    color: white;
    
}
.contact-list {
    list-style: none;
    padding: 0;  

}
.contact-list a {
    display: inline-block;
    padding: 15px;
    color: white;
}

/* Contact Form Section
---------------------------------*/
.contact-desc {
    text-align: center;
    color: white;
}

.contact-section {
    background-color: #1c2f31 ;
    background-image: url(../images/background.jpg);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-section h2{
    color: white;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
    outline: none;
}

form {
    background-color: #177e89;
    padding: 1.5rem;
    text-align: left;
    max-width: 400px;
    border-radius: 5px;
    margin-top: 15px;
    margin: auto;
}

.form-row {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

input,
textarea {
    margin-bottom: 15px;
    border: 1.5px lightgray solid;
    border-radius: 5px;
    padding: 10px;
    font-family: inherit;
    font-size: 0.75rem;
}

input:focus,
textarea:focus {
    border: 1.5px gray solid;
}

textarea[name="user_message"] {
    height: 100px;
}

div[id="error"] {
    color: red;
}

.button-group {
    justify-content: start;
}

.submit-button{
    background-color: white;
    color: black;
    font-family: inherit;
    padding: 10px;
    border-radius: 5px;
}

.submit-button:hover {
    cursor: pointer;
    background-color: ivory;
}
/***** Inline validation *****/
input#fName:focus:valid,
input#lName:focus:valid,
input#mail:focus:valid,
input#phone:focus:valid {
    background: rgb(220, 255, 220);
}

input#fName:focus:invalid,
input#lName:focus:invalid,
input#mail:focus:invalid,
input#phone:focus:invalid {
    background: rgb(255, 232, 233);
}

/* Responsice / Media Queries
---------------------------------*/

@media screen and (min-width: 680px){
    header, footer {
        text-align: center;
    }
    .education{
        background-image: url("../images/leaves.jpg");
        /*background-color: white;*/
        /*color: black;*/
        background-size: 400px 400px;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-position-x: 100%;
        background-position-y: -150%;
        
    }
    header {
        height: 100vh;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .project-item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }

    .coming-soon{
        text-align: center;
        font-style: italic;
    }

    /* .contact-section .item-details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    } */

    form {
        margin-top: 20px;
    }


}

@media screen and (max-width: 679px){
    h1 {
        font-size: 80px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .project-item img {
        width: 100%;
        margin-bottom: 15px;
    }
    .contact-list a{
        padding: 5px;
    }
    .contact-section .contact-desc h2{ 
        margin-bottom: 15px;
    }
    form {
        margin-top: 15px;
    }
}