
/*
COLOUR PALETE
#0cca4a - Bright Green
#058c42 - Darker Green
#104f55 - Blue
#122c34 - Dark Blue/Navy
#177e89 - Bright Blue
*/

/* Global Styles
---------------------------------*/
html {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

body{
    color: #122c34;
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    line-height: 1.5;
}

img{
    width: 300px;
}

a {
    color: #177e89;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
h1 {
    font-size: 90px;
    line-height: 1;
}
h2 {
    font-size: 40px;
}
h1, h2 {  
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}

.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.item-details p:last-of-type{
    margin-top: 15px;
    width: 80%;
}
.content-wrap {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
.divider > section{
    border-bottom: 1px dashed #122c34;
    padding: 25px 0;
}
.divider > section:last-of-type{
    border-bottom-style: none;
}
/* About/Profile
---------------------------------*/
header{
    background-color: #177e89;
    color: white;

}
header img {
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
}
/* Projects
---------------------------------*/
.projects{
    background-color: white;
}

.projects .btn{
    color: white;
    background-color: #177e89;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px; 
    display: inline-block;
}

.projects .btn:hover{
    background-color: rgba(23,126,137, 0.8);
}

.project-item {
    overflow: hidden;

}

.project-item h3 {
    margin-top: 0;
}
/* Experience
---------------------------------*/
.work-experience {
    background-color: #177e89;
    color: white;
}

/* Education
---------------------------------*/

/* Contact
---------------------------------*/
footer {
    background-color: #122c34;
    color: white;
    
}
.contact-list {
    list-style: none;
    padding: 0;  

}
.contact-list a {
    display: inline-block;
    padding: 15px;
    color: white;
}

/* Responsice / Media Queries
---------------------------------*/

@media screen and (min-width: 680px){
    header, footer {
        text-align: center;
    }
    .education{
        background-image: url("../images/leaves.jpg");
        /*background-color: white;*/
        /*color: black;*/
        background-size: 400px 400px;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-position-x: 100%;
        background-position-y: -150%;
        
    }
    header {
        height: 100vh;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
}

@media screen and (max-width: 679px){
    h1 {
        font-size: 80px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .contact-list a{
        padding: 5px;
    }
}